.App {
  text-align: center;
}

.Tile {
  height: 100px;
  width: 100px;
  border: 1px solid red;
}

.Tile.p {
  pointer-events: none;
}

.Row {
  border: 1px solid blue;
  display: flex;
  width: 714px;
}

#Board {
  /* transform: rotate(-60deg); */
}

#Domain {
  border: 1px solid green;
  display: flex;
  width: 714px;
}

#Graveyard {
  border: 1px solid orange;
  height: 100px;
  width: 200px;
}

#Hand {
  border: 1px solid purple;
  height: 100px;
  width: 200px;
  display: flex;
}

#Deck {
  border: 1px solid orange;
  height: 100px;
  width: 200px;
  display: flex;
}

.Card {
  border: 1px solid magenta;
  height: 100px;
  width: 75px;
}